<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisen.wisenapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wisen_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bt.BTMainActivity"
            android:label="BtMain"/>
        <activity android:name=".bt.DeviceListActivity" />
        <activity android:name=".test.TestMainActivity" />
        <activity android:name=".audio.AudioMainActivity"
            android:label="Audio"/>
        <activity android:name=".btsmart.BTSmartActivity"
            android:label="BtSmart"/>

        <service
            android:name=".btsmart.BtSmartService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".btsmart.ScanResultsActivity"
            android:label="BtSmart"/>
        <activity android:name=".btadv.BTAdvActivity" />
        <activity android:name=".btsmart.GattServiceActivity"
            android:label="BtSmart"/>
        <activity android:name=".btsmart.xiaomi.HackXiaoMiActivity"
            android:label="BtSmart-HackXiaoMi"/>
        <activity android:name=".ui.UIMainActivity"
            android:label="UI"/>
        <activity android:name=".ui.expandablelistview.ExpandableListViewTestActivity"
            android:label="UI"/>
        <activity android:name=".btsmart.xiaomi.HackXMMainActivity"
            android:label="BtSmart-HackXiaoMi"/>
        <activity android:name=".pbap.PbapMainActivity"
            android:label="PBAP"/>
        <activity android:name=".micphone.MicPhoneMainActivity"
            android:label="MicPhone"></activity>
    </application>

</manifest>
